@media (max-width: 1229px) {
    .nav {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 862px) {
    .container-audio {
        margin: auto;
    }
}

@media (max-width: 689px) {
    .div-wishes h1 {
        font-size: 40px;
    }

    .div-wishes .wishes {
        width: 450px;
        height: 200px;
    }

    .div-wishes a {
        padding: 20px 110px;
    }

    .div-otchet h1 {
        font-size: 45px;
    }

    .main h1 {
        font-size: 50px;
    }
}

@media (max-width: 512px) {
    .nav {
        padding: 0px;
        height: 160px;
        display: block;
    }

    .nav a {
        margin-top: 10px;
        display: block;
        text-align: center;
    }

    .container-audio {
        margin: auto;
    }

    .container-audio .colum1:nth-of-type(11) .row , .container-audio .colum1:nth-of-type(12) .row, .container-audio .colum1:nth-of-type(13) .row, .container-audio .colum1:nth-of-type(14) .row , .container-audio .colum1:nth-of-type(15) .row, .container-audio .colum1:nth-of-type(16), .container-audio .colum1:nth-of-type(17) .row , .container-audio .colum1:nth-of-type(18) .row, .container-audio .colum1:nth-of-type(19), .container-audio .colum1:nth-of-type(20), .container-audio .colum1:nth-of-type(21) , .container-audio .colum1:nth-of-type(22), .container-audio .colum1:nth-of-type(23){
    display: none;
    }

    .div-audio .audio-pleer {
        width: 300px;
        margin-top: 0px;
    }

    .div-wishes .wishes {
        width: 300px;
        height: 150px;
    }

    .div-wishes a {
        padding: 20px 40px;
    }

    .div-kviz {
        padding-top: 30px;
    }

    .div-kviz .quiz-card {
        width: 300px;
        height: 160px;
        display: none;
    }

    .div-kviz .quiz-card h1 {
        font-size: 30px;
    }

    .div-kviz .quiz-card p {
        margin-bottom: 0px;
    }

    .div-kviz .quiz-buttons button {
        width: 60%;
        margin: auto;
        display: none;
    }

    .a {
        display: block;
    }
}